<% @posts.each do |post| %>
	<div class="prevew">
		<h1> <%= post.title %> : <%= post.id %> </h1>
		<p> Auther: <%= post.auther %> </p>
		<p> <%= post.content %> </p>
		<a href="/delete/<%= post.id %>">delete</a>
		<a href="/edit/<%= post.id %>">edit</a>
	</div>
<% end %>
